body {
    width: 100vw; /* 设置容器宽度为视口宽度 */
    height: 100vh; /* 设置容器高度为视口高度 */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}

.bg {
    background-image: url(/img/bg.svg);
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.svg-icon {
    width: 20px; /* 调整SVG图像的宽度 */
    height: 20px; /* 调整SVG图像的高度 */
    transform-origin: center; /* 设置变换的原点为图像中心 */
}

.RNNTitle {
    margin-left: 30px;
}

.RNNButton {
    min-height: 65px;
    position: absolute;
    right: -5px;
    top: 99%;
    transform: translateY(-50%);
}

.RNNButton:hover{
    cursor: pointer;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
}

.content-results {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    margin-top: -170px; /* 向上移动25% */
}

.search-container {
    position: relative;
    display: inline-block;
    text-align: center; /* 文字居中对齐 */
    display: inline-block;
}

.RNNText {
    z-index: 3;
    min-height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 25px;
    text-align: center;
}
  