<!DOCTYPE html>
<html>
<head>
  <title>flask.</title>
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body class="bg">
  <div class="content">
    <div class="search-container">
      <h1 class="RNNTitle">devlopment.</h1>
      <input class='RNNText' type="search" id="inputNumber" placeholder="input the number.">
      <div class ='RNNButton' onclick="calculate()"><img class="svg-icon" src="/img/play-solid.svg" alt="button"></div>
    </div>
  </div>

  <p id="result" class="content-results"></p>

  <script>
    function calculate() {
      var number = $("#inputNumber").val();
      $.ajax({
        url: "/calculate",
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify({ number: number }),
        success: function(response) {
          $("#result").text("the results : " + JSON.stringify(response.result));
        },
        error: function(error) {
          console.log(error);
        }
      });
    }
  </script>
</body>
</html>
